@import url('reset.css');

body {
    width: 100%;
    display: grid;
    grid-template-areas:
        "search"
        "suggestions";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

header {
    grid-area: search;
    display: flex;
    flex-direction: row;

    #search {
        flex: 1;
        margin: 8px;
        padding: 8px;
        border-radius: 8px;
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin-right: 8px;
    }
}

#suggestions {
    grid-area: suggestions;
    padding: 0 8px;

    progress {
        width: 100%;
    }
}

button {
    border: none;
    background: none;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 4px;
    height: 40px;
}